html {
  display: block;
}

body {
  color: black;
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  vertical-align: baseline;
}

header, nav {
  display: block;
  padding-right: 40px;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
  z-index: 1;
}

div.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  display: inline-flex;
  color: black;
  display: inline-block;
  justify-content: space-between;
  margin-left: 800px;
  padding-right: 40px;
}

nav {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.container {
  display: inline-flex;
  margin-top: 80px;
}

.column {
  margin-right: 32px;
  display: flex;
  }

.content {
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  }

.large {
  width: 630px;
  display: inline-flex;
  flex-wrap: wrap;
}

.tuna h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: black;
  display: flex;
}

.earth h3, .memory h3, .cats h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.tuna {
  flex-direction: column;
  display: flex;
}

.tuna img {
  display: flex;
}

.tuna h3 {
  display: flex;
}

.tuna p {
  display: flex;
}

.orca {
  flex-direction: column;
  display: flex;
}

.orca h2 {
  display: flex;
}

.orca p {
  display: flex;
}

.earth {
  flex-direction: column;
  display: flex;
}

.earth h3 {
  display: flex;
}

.burger {
  flex-direction: column;
  display: flex;
}

.burger h2 {
  display: flex;
}

.burger p {
  display: flex;
}

.memory {
  flex-direction: column;
  display: flex;
}

.memory h3 {
  display: flex;
}

.medium {
  width: 300px;
  display: inline-flex;
  flex-direction: column;
}

.star {
  flex-direction: column;
  display: flex;
}

.star h2 {
  display: flex;
}

.star p {
  display: flex;
}

.cats {
  flex-direction: column;
  display: flex;
}

.cats img {
  display: flex;
}

.cats h3 {
  display: flex;
}

.cats p {
  display: flex;
}

.small {
  width: 240px;
  display: inline-flex;
  flex-direction: column;
}
.bites {
  flex-direction: column;
  display: flex;
}

.bites img {
  display: flex;
}

.bites h2 {
  display: flex;
}

.bites p {
  display: flex;
}
